doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='#{pathToAssets}/docs/favicon.ico')
    title Profile
    // Bootstrap core CSS
    link(href='#{pathToAssets}/dist/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='#{pathToSelectedTemplateWithinBootstrap}/starter-template.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy these 2 lines!
    //if lt IE 9
    script(src='#{pathToAssets}/docs/assets/js/ie8-responsive-file-warning.js')
    script(src='#{pathToAssets}/docs/assets/js/ie-emulation-modes-warning.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='#{pathToAssets}/docs/assets/js/ie10-viewport-bug-workaround.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    link(href="https://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans|Open+Sans+Condensed:300|PT+Sans+Narrow|Roboto|Trocchi", rel="stylesheet")
    style.
      .skill {
        filter: url("#gooey");
      }
  body
    -
      var skills = [{name: "Java", level: "80", subSkills: [{name: "Collections", level: "80"}, {name: "Concurrency", level: 0},  {name: "IO", level: 0 }, {name: "Core", value: "2"}] },
                    {name: "Javascript", level: "100", subSkills: [{name: "ES6", level: "100"}, {name: "ReactJS", level}] },
                    {name: "Tools", level: "100", subSkills: [{name: "Gulp", level: "100"}, {name: "Webpack", level}] },
                    {name: "Testing", level: "100", subSkills: [{name: "Protractor", level: "100"}, {name: "Jasmine", level: "22"}, {name: "BDD/Cucumber", level: "22"}] }]

header
      div.header-info
        h1.header-main Naval Singh
    main.container
      section.about
        div.about-header.section--header About Me
        div.about-info.
          (Temp text : to be improved) I am a full stack web developer currently working in Bengaluru, India.
          I have more than 8.5 years of experience in designing production facing web applications using frameworks likes ReactJS and AngularJS or using pure Javascript wherever needed.

          I am a firm believer in following industry standard best practices like responsive web design, graceful degradation and use of accessibility concepts.
      section.skills
        div.skills-header.section--header Skills
        div.skills-info
          each skill in skills
            div.skill
              div.skill-main #{skill.name}
              each subSkills, index in skill.subSkills
                div.skill-sub(class="skill-sub--#{index}") #{subSkills.name}
  filter#gooey
    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
    <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
